.availableJobs{
    padding: 2rem 1rem 0 1rem;
    display: flex;
    justify-content: space-between;

    &__right{
          display: flex;
          flex-direction: column;
    }

    &__left{
        display: flex;
        flex-direction: column;
  }
    
}